<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="layouts :: header"></head>
<body>

<nav th:replace= "layouts :: navbar"></nav>


	<div class="container">
		<h4>Current Projects</h4>
		<table>
			<thead>
				<tr>
					<th>Project Name</th>
					<th>Project Stage</th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="aProject : ${projectsList}">
					<td th:text="${aProject.name}"/>
					<td th:text="${aProject.stage}"/>
				</tr>
			</tbody>
		</table>
	</div>
	<div class="container">
		<h4>Employees</h4>
		<table>
			<thead>
				<tr>
					<th>First Name</th>
					<th>Last Name</th>
					<th>Email</th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="anEmployee : ${employeesList}">
					<td th:text="${anEmployee.firstname}"/>
					<td th:text="${anEmployee.lastname}"/>
					<td th:text="${anEmployee.email}"/>
				</tr>
			</tbody>
		</table>
	</div>
	
</body>
</html>